@charset "utf-8";

.owl-carousel-topics .item {
    }
    h1 {line-height: 1em;}
    h2, h3, h4, h5, h6 {
        text-weight: 400;
    }
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
    h4 {font-size: 20px;}
    h5 {font-size: 16px;}
    h6 {font-size: 16px;}

    .category-title {
        all: unset; 
        width: 100%; 
        aspect-ratio: 2.5; 
        background-size: cover !important; 
        display:flex; 
        flex-direction: column-reverse; 
        margin-bottom: 20px;
    }
    .category-title h2 {
        all:unset; 
        color: #fdfdfd; 
        text-transform: uppercase; 
        letter-spacing: -0.1em; 
        font-size: 10vw; 
        line-height: 0.8; 
        font-family: 'Roboto';
        font-weight: 300;
    }
    .category-title:hover {background-blend-mode:multiply; transition: 0.5s; cursor: default;}
    @media only screen and (max-width: 800px) {
        h1 {font-size: 12vw !important;}
        .size-full { max-width: 800px }
        .size-full img { width: 100%; }
        .wp-block-latest-posts__featured-image {
            all: unset;
            margin: 0 0 1.5em 0 !important;
            width: 100%;
        }
        .wp-block-latest-posts__featured-image img{
            all: unset;
            width: auto;
            height: auto;
            max-width: 100% !important;
            max-height: 1000px !important;
        }
    }
    @media only screen and (max-width: 600px) {
        .category-title {aspect-ratio: 1}
        .category-title h2 {font-size: 15vw;}
    }
    @media only screen and (max-width: 420px) {
        .circle-table {justify-content: center; flex-wrap: wrap;}
    }


/*------------------*/
/*-- Fonts --*/
/*------------------*/


@font-face {
    font-family: "RobotoRegular";
    src: url("fonts/RobotoRegular/RobotoRegular.eot");
    src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

/* font-family: "RobotoLight"; */

@font-face {
    font-family: "RobotoLight";
    src: url("fonts/RobotoLight/RobotoLight.eot");
    src: url("fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

/* font-family: "RobotoMedium"; */

@font-face {
    font-family: "RobotoMedium";
    src: url("fonts/RobotoMedium/RobotoMedium.eot");
    src: url("fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

/* font-family: "RobotoBold"; */

@font-face {
    font-family: "RobotoBold";
    src: url("fonts/RobotoBold/RobotoBold.eot");
    src: url("fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('fonts/Panton-Regular.eot');
    src: url('fonts/Panton-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Panton-Regular.woff2') format('woff2'),
        url('fonts/Panton-Regular.woff') format('woff'),
        url('fonts/Panton-Regular.ttf') format('truetype'),
        url('fonts/Panton-Regular.svg#Panton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('fonts/Panton-SemiBold.eot');
    src: url('fonts/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Panton-SemiBold.woff2') format('woff2'),
        url('fonts/Panton-SemiBold.woff') format('woff'),
        url('fonts/Panton-SemiBold.ttf') format('truetype'),
        url('fonts/Panton-SemiBold.svg#Panton-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('fonts/Panton-Bold.eot');
    src: url('fonts/Panton-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Panton-Bold.woff2') format('woff2'),
        url('fonts/Panton-Bold.woff') format('woff'),
        url('fonts/Panton-Bold.ttf') format('truetype'),
        url('fonts/Panton-Bold.svg#Panton-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('fonts/Panton-Heavy.eot');
    src: url('fonts/Panton-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Panton-Heavy.woff2') format('woff2'),
        url('fonts/Panton-Heavy.woff') format('woff'),
        url('fonts/Panton-Heavy.ttf') format('truetype'),
        url('fonts/Panton-Heavy.svg#Panton-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Bold.eot');
    src: url('fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Bold.woff2') format('woff2'),
        url('fonts/Inter-Bold.woff') format('woff'),
        url('fonts/Inter-Bold.ttf') format('truetype'),
        url('fonts/Inter-Bold.svg#Inter-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.eot');
    src: url('fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Medium.woff2') format('woff2'),
        url('fonts/Inter-Medium.woff') format('woff'),
        url('fonts/Inter-Medium.ttf') format('truetype'),
        url('fonts/Inter-Medium.svg#Inter-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.eot');
    src: url('fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter-Regular.woff') format('woff'),
        url('fonts/Inter-Regular.ttf') format('truetype'),
        url('fonts/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.eot');
    src: url('fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-SemiBold.woff2') format('woff2'),
        url('fonts/Inter-SemiBold.woff') format('woff'),
        url('fonts/Inter-SemiBold.ttf') format('truetype'),
        url('fonts/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}*/

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {

}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {

}

a {
    text-decoration: none;
}

li {
    list-style: none;

}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.vsa_row {
    width: 100%;
    max-width: 1820px;
    min-width: 340px;
    margin: 0 auto;
    padding: 0 25px;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

#vsaHeader {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 4;
    top: -100px;
    opacity: 0;
    -webkit-transition-property: top, opacity;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: ease;
    animation-delay: 6s;

    -moz-transition-property: top, opacity;
    -moz-transition-duration: 5s;
    -moz-transition-timing-function: ease;
    -webkit-animation-delay: 6s;

    -ms-transition-property: top, opacity;
    -ms-transition-duration: 5s;
    -ms-transition-timing-function: ease;
    -ms-animation-delay: 6s;

    -o-transition-property: top, opacity;
    -o-transition-duration: 5s;
    -o-transition-timing-function: ease;
    -o-animation-delay: 6s;

    transition-property: top, opacity;
    transition-duration: 5s;
    transition-timing-function: ease;
    animation-delay: 6s;
}

#vsaHeader.animate {
    opacity: 1;
    top: 0;
}

.vsa_header_site {
    display: flex;
    flex-wrap: wrap;
}

.vsa_header_site > div:nth-child(1) {
    width: 100px;
    padding: 39px 10px 10px 0;
}

.vsa_header_site > div:nth-child(2) {
    width: calc(100% - 100px);
    padding: 29px 0 10px 10px;
}

.vsa_logo {
    display: inline-block;
    vertical-align: top;
}

.vsa_logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.vsa_resp_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 -20px;
}

.vsa_resp_nav li {
    padding: 10px 20px;
}

.vsa_resp_nav li a {
    font-family: 'Panton';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFF;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.vsa_resp_nav li a:hover {
    border-bottom: 1px solid #fff;
}

.resp_inline {
    display: none;
}

.vsa_logo.scroll {
    display: none;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Promo --*/

.vsa_promo {
    min-height: 100vh;
    margin: -1px 0;
    padding: 1px 0;
    background: #000;
    position: relative;
}

.vsa_line {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
}

.vsa_line > div {
    display: flex;
    align-items: flex-end;
    height: 330px;
    padding: 0 9px;
    position: relative;
    overflow: hidden;
}

.vsa_slash {
    width: 3px;
    height: 100%;
    position: absolute;
    top: -130%;
    right: -1px;
    background-color: #fff;
    animation: height 6s forwards;
}

@keyframes height {
    0% {
        top: -130%;
    }
    100% {
        top: calc(100% - 24px);
    }
}

.vsa_line h3 {
    font-family: 'Panton';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
}

.vsa_line > div:nth-child(1) h3 {
    position: relative;
    left: 120%;
    animation: left 3s forwards;
    animation-delay: 2s;
}

@keyframes left {
  from {left: 120%;}
  to {left: 0;}
}

.vsa_line > div:nth-child(2) h3 {
    position: relative;
    right: 120%;
    animation: right 3s forwards;
    animation-delay: 2s;
}

@keyframes right {
  from {right: 120%;}
  to {right: 0;}
}

.vsa_line h3 span {
    font-weight: 400;
}

.vsa_line > div:last-child {
    padding-left: 0;
}

.vsa_line > div:last-child h3 {
    filter: blur(4px);
    opacity: 0;
}

.vsa_line > div:last-child h3 {
    filter: blur(4px);
    opacity: 0;
    animation: blur 2s forwards;
    animation-delay: 5s;
}

@keyframes blur {
  from {filter: blur(4px);opacity: 0;}
  to {filter: blur(0);opacity: 1;}
}

.vsa_promo_slide:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.vsa_promo_slide {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.vsa_promo_slide_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    -webkit-transition-property: transform;
    -webkit-transition-duration: 15s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 15s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 15s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 15s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 15s;
    transition-timing-function: ease;
}

.owl-item.active .vsa_promo_slide_bg {
    transform: scale(1.2);
}

.vsa_promo_slide_bg_resp {
    display: none !important
}

.z_2 {
    width: 100%;
    position: relative;
    z-index: 2;
}

.vsa_promo_slide .vsa_row {
    min-height: 100vh;
    padding-top: 328px;
    position: relative;
    z-index: 3;
}

.vsa_promo_slide .vsa_row > div {
    width: 100%;
}

.vsa_promo_slide_contant {
    padding-top: 38px;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    -webkit-transition-property: transform, opacity;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: ease;
    animation-delay: 6s;

    -moz-transition-property: transform, opacity;
    -moz-transition-duration: 5s;
    -moz-transition-timing-function: ease;
    -webkit-animation-delay: 6s;

    -ms-transition-property: transform, opacity;
    -ms-transition-duration: 5s;
    -ms-transition-timing-function: ease;
    -ms-animation-delay: 6s;

    -o-transition-property: transform, opacity;
    -o-transition-duration: 5s;
    -o-transition-timing-function: ease;
    -o-animation-delay: 6s;

    transition-property: transform, opacity;
    transition-duration: 5s;
    transition-timing-function: ease;
    animation-delay: 6s;
}

.owl-item.active .vsa_promo_slide_contant {
    opacity: 1;
    transform: scale(1);
}

.vsa_promo_slide_contant h1 {
    font-family: 'Panton';
    font-weight: 400;
    font-size: 64px;
    line-height: 86px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 1.33333px 1.33333px 73.5px rgba(0, 0, 0, .5);
}

.vsa_promo_slide_contant h1 span {
    display: block;
}

.vsa_btns_wrapp {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -13px;
    justify-content: center;
    position: relative;
    top: 50px;
    opacity: 0;
    -webkit-transition-property: top, opacity;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: ease;
    animation-delay: 6s;

    -moz-transition-property: top, opacity;
    -moz-transition-duration: 5s;
    -moz-transition-timing-function: ease;
    -webkit-animation-delay: 6s;

    -ms-transition-property: top, opacity;
    -ms-transition-duration: 5s;
    -ms-transition-timing-function: ease;
    -ms-animation-delay: 6s;

    -o-transition-property: top, opacity;
    -o-transition-duration: 5s;
    -o-transition-timing-function: ease;
    -o-animation-delay: 6s;

    transition-property: top, opacity;
    transition-duration: 5s;
    transition-timing-function: ease;
    animation-delay: 6s;
}

.owl-item.active .vsa_btns_wrapp {
    top: 0;
    opacity: 1;
}

.vsa_btns_wrapp > div {
    padding: 13px 13px;
}

.vsa_tr_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    min-height: 52px;
    background: rgba(255, 255, 255, .5);
    border: 1px solid #000;
    font-family: "RobotoMedium";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.vsa_tr_pill:hover {
    background: rgba(255, 255, 255, 1);
}

.vsa_promo_bottom_row {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 3;
    height: 0;
    opacity: 0;
    -webkit-transition-property: bottom, opacity;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: ease;
    animation-delay: 6s;

    -moz-transition-property: bottom, opacity;
    -moz-transition-duration: 5s;
    -moz-transition-timing-function: ease;
    -webkit-animation-delay: 6s;

    -ms-transition-property: bottom, opacity;
    -ms-transition-duration: 5s;
    -ms-transition-timing-function: ease;
    -ms-animation-delay: 6s;

    -o-transition-property: bottom, opacity;
    -o-transition-duration: 5s;
    -o-transition-timing-function: ease;
    -o-animation-delay: 6s;

    transition-property: bottom, opacity;
    transition-duration: 5s;
    transition-timing-function: ease;
    animation-delay: 6s;
}

.vsa_promo_bottom_row.animate {
    opacity: 1;
    bottom: 104px;
}

.vsa_promo_bottom_row .vsa_row {
    position: relative;
}

.vsa_lang_nav {
    display: flex;
    margin: 0 -6px;
}

.vsa_lang_nav li {
    padding: 0 8px;
    position: relative;
}

.vsa_lang_nav li:after {
    display: block;
    content: "/";
    font-family: "RobotoLight";
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFF;
    position: absolute;
    top: 0;
    right: -3px;
}

.vsa_lang_nav li:last-child:after {
    display: none;
}

.vsa_lang_nav li a {
    font-family: "RobotoLight";
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFF;
}

.vsa_lang_nav li a.active {
    font-weight: 600;
}

.vsa_scroll_down {
    display: block;
    width: 96px;
    height: 96px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    background-image: url(img/scroll_down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -29px;
    right: 25px;
    cursor: pointer;
    animation: jump 2s infinite;
    z-index: 5;
}

@keyframes jump {
  0% {top: -29px;}
  50% {top: 0;}
  100% {top: -29px;}
}

.vsa_btns_wrapp_resp {
    display: none;
}

/*-- /Section 1 - Promo --*/

/*-- Section 2 - Promo --*/

.sect_2_main {
    padding-top: 93px;
}

.vsa_h2_wrapp h3 {
    padding: 20px 0 20px 0;
    font-style: italic;
    font-family: 'Panton';
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #B0B0B0;
}

.vsa_h2_wrapp h2 {
    padding: 16px 0 16px 0;
    font-family: 'Panton';
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
}

.vsa_article_tree_cols {
    display: flex;
    flex-wrap: wrap;
    margin: 29px 0 107px 0;
}

.vsa_article_tree_cols > div:nth-child(1) {
    display: flex;
    width: 39%;
    padding: 10px 15px 10px 0;
}

.vsa_article_tree_cols > div:nth-child(2) {
    width: 33%;
    padding: 10px 10px;
}

.vsa_article_tree_cols > div:nth-child(3) {
    width: 28%;
    padding: 10px 0 10px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.vsa_left_article {
    display: flex;
    flex-direction: column;
    max-width: 630px;
}

.vsa_left_article_content {
    flex: 1;
    height: 100%;
    padding: 5px 0 0 0;
}

.vsa_left_article_content p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.04em;
    color: #4E4E4E;
}

.vsa_black_pill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px 11px 34px;
    max-width: 406px;
    min-height: 52px;
    background: #000;
    border: none;
    font-family: "RobotoMedium";
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.vsa_black_pill:hover {
    background: #a4a1a1;
}

.vsa_left_article_content .vsa_black_pill {
    margin-top: 45px;
}

.vsa_thumbs {
    display: flex;
    flex-wrap: wrap;
}

.vsa_thumbs > div {
    width: 33.33%;
    padding: 18px 10px;
    text-align: center;
}

.vsa_thumb {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.vsa_thumb > div:nth-child(2) {
    border-top: 1px solid #000;
    padding: 0 6px 0 6px;
}

.vsa_thumb h3 {
    padding: 0 5px;
    position: relative;
    font-family: 'Panton';
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -4px;
    color: #000;
}

.vsa_thumb h3 sup {
    font-size: 29px;
    position: absolute;
    top: -11px;
    right: -4px;
}

.vsa_thumb p {
    padding: 9px 0;
    font-family: "RobotoMedium";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000;
}

.vsa_img_box {
    position: relative;
    height: 570px;
    overflow: hidden;
}

.vsa_img_box img {
    display: block;
    width: 100%;
    height: 570px;
    object-fit: cover;
}

.vsa_right_article {
    max-width: 420px;
}

.vsa_right_article p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.04em;
    text-align: justify;
    color: #4E4E4E;
}

.vsa_rev_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 29px -10px -17px -10px;
}

.vsa_rev_thumb {
    margin: 10px;
    padding: 12px 15px 14px 15px;
    border: 1px solid #B0B0B0;
}

.vsa_rev_thumb_logo {
    height: 30px;
    position: relative;
}

.vsa_rev_thumb_logo img {
    display: block;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.vsa_rev_thumb_title {
    padding-bottom: 5px;
}

.vsa_rev_thumb_title h3 {
    font-family: 'Panton';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.vsa_rev_thumb_val p {
    font-family: "RobotoBold";
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000;
}

.vsa_rev_thumb_footer {
    display: flex;
}

.vsa_rev_thumb_footer > div:nth-child(1) {
    width: 95px;
}

.vsa_rev_thumb_footer > div:nth-child(2) {
    width: calc(100% - 95px);
}

.vsa_rate {
    display: flex;
    margin: 0 -2px;
}

.vsa_rate li {
    margin: 2px;
    width: 14px;
    height: 14px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/star_grey.svg);
}

.vsa_rate li.active {
    background-image: url(img/star.svg);
}

.vsa_rev_thumb_footer p {
    padding-top: 3px;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
    color: #B0B0B0;
}

.resp_btn_wrapp {
    display: none;
}

.vsa_photos_box {
    border-top: 2px solid #4E4E4E;
}

.vsa_photos {
    display: flex;
    flex-wrap: wrap;
    margin: 29px -15px 107px -15px;
}

.vsa_photos > div {
    width: 33.33%;
    padding: 15px;
}

.vsa_photo_thumb {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 48px 40px;
    width: 100%;
    height: 570px;
    position: relative;
    overflow: hidden;
}

.vsa_photo_thumb:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 2;
}

.vsa_photo_thumb img {
    display: block;
    width: 100%;
    height: 570px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    -webkit-transition-property: transform;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease;
}

.vsa_photo_thumb:hover img {
    transform: scale(1.2);
}

.vsa_photo_thumb h3 {
    position: relative;
    z-index: 3;
    font-family: 'Panton';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFF;
}

.vsa_photo_thumb svg {
    position: absolute;
    bottom: 50px;
    right: 40px;
    z-index: 3;
}

/*-- /Section 2 - Promo --*/

/*-- Section 3 - Promo --*/

.vsa_items {
    padding: 20px 0 26px 0;
}

.vsa_item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #B0B0B0;
    padding: 25px 0 28px 0;
}

.vsa_item > div:nth-child(1) {
    width: 12%;
    padding: 10px 10px 10px 28px;
}

.vsa_item > div:nth-child(2) {
    width: 39%;
    padding: 10px 10px 10px 10px;
}

.vsa_item > div:nth-child(3) {
    width: 49%;
    padding: 10px 20px 10px 10px;
}

.vsa_item_num p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #B0B0B0;
}

.h3_inline {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.vsa_item h3 {
    font-family: 'Panton';
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #000;
    transform: scale(1);
    -webkit-transition-property: transform;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 2s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 2s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.vsa_item h3:hover {
    transform: scale(1.2);
}

.vsa_item h3 span {
    display: none;
}

.vsa_item > div:nth-child(3) p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    color: #484848;
    opacity: .7;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .5s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .5s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .5s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.vsa_item > div:nth-child(3) p:hover {
    opacity: 1;
}

/*-- /Section 3 - Promo --*/

/*-- Section 4 - Main --*/

.avs_article_2 {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 81px 0 94px 11%;
    overflow: hidden;
    position: relative;
}

.avs_article_2_bg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.avs_article_2_bg_resp {
    display: none;
}

.avs_article_2 > .vsa_row {
    position: relative;
    z-index: 2;
}

.vsa_article_2_content {
    max-width: 540px;
}

.vsa_article_2_content h2 {
    padding: 20px 0;
    font-family: 'Panton';
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    color: #FFF;
}

.vsa_article_2_content p {
    padding: 20px 0;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #FFF;
}

.vsa_article_2_content .vsa_black_pill {
    display: inline-flex;
    margin: 20px 0;
}

/*-- /Section 4 - Main --*/

/*-- Section 5 - Main --*/

.sect_5_main {
    padding: 48px 0 20px 0;
}

.vsa_items_slider {
    margin: 47px 0 87px 0;
}

.vsa_item_thumb {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 420px;
    margin: 10px 0;
    padding: 29px 40px 40px 40px;
    position: relative;
}

.vsa_item_thumb_bg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vsa_item_thumb_header {
    display: flex;
    height: 100%;
    flex: 1;
    position: relative;
    z-index: 2;
}

.vsa_item_thumb_header > div:nth-child(1) {
    width: calc(100% - 45px);
    padding: 10px 10px 10px 0;
}

.vsa_item_thumb_header > div:nth-child(2) {
    width: 45px;
    padding: 10px 0 10px 10px;
}

.vsa_item_thumb_header h3 {
    font-family: 'Panton';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
}

.vsa_item_thumb_header p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #B0B0B0;
}

.vsa_item_thumb_content {
    padding-right: 17px;
    position: relative;
    z-index: 2;
}

.vsa_item_thumb_content p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #4E4E4E;
}

.vsa_portfolio_box {
    padding: 18px 0 18px 0;
    border-top: 2px solid #000;
}

.vsa_portfolio_box_header {
    display: flex;
    padding-bottom: 136px;
}

.vsa_portfolio_box_header > div:nth-child(1) {
    width: 50%;
    padding: 10px 10px 10px 0;
}

.vsa_portfolio_box_header > div:nth-child(2) {
    width: 50%;
    padding: 10px 0 10px 10px;
    text-align: right;
}

.vsa_portfolio_box_header h3 {
    font-family: 'Panton';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
}

.vsa_more_link {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    border-bottom: none;
    font-family: "RobotoMedium";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #000;
    position: relative;
}

.vsa_more_link span {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    transform: rotate(45deg);
    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.vsa_more_link:hover span {
    transform: rotate(0);
}

.vsa_more_link:hover svg {
    animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.3);}
  100% {transform: scale(1);}
}

.vsa_portfolio_slider {
    margin: 10px 0;
}

.vsa_portfolio_slider_rtl {
    margin: 10px 0;
}

.vsa_portfolio_photo {
    display: block;
    height: 427px;
    width: 547px;
    overflow: hidden;
    position: relative;
}

.vsa_portfolio_photo img {
    display: block;
    width: 547px;
    height: 427px;
    object-fit: cover;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease;
}

.vsa_portfolio_photo:hover img {
    transform: scale(1.2);
}

/*-- /Section 5 - Main --*/

/*-- Section 6 - Main --*/

.sect_6_main {
    padding: 36px 0 20px 0;
}

.vsa_h2_wrapp p {
    padding: 13px 0;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000;
}

.vsa_prices_box {
    margin: 81px 0 0 0;
}

.vsa_prices_items {
    display: flex;
    border-top: 2px solid #000;
}

.vsa_prices_items:last-child {
    border-bottom: 2px solid #000;
}

.vsa_prices_items > div:nth-child(1) {
    width: 50%;
    padding: 19px 7px 10px 0;
}

.vsa_prices_items > div:nth-child(2) {
    width: 50%;
    padding: 0 0 3px 7px;
}

.vsa_prices_items:last-child > div:nth-child(2) {
    padding-bottom: 0;
}

.vsa_prices_items > div:nth-child(1) h3 {
    font-family: 'Panton';
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    color: #000;
}

.vsa_price_item {
    display: flex;
    padding: 18px 10px 19px 0;
    border-bottom: 1px solid #B0B0B0;
}

.vsa_price_item:last-child {
    border-bottom: none;
}

.vsa_price_item > div:nth-child(1) {
    width: 64%;
    padding: 10px 10px 10px 10px;
}

.vsa_price_item > div:nth-child(2) {
    width: 36%;
    padding: 10px 10px 10px 10px;
    text-align: right;
}

.vsa_price_text h3 {
    padding-bottom: 15px;
    font-family: 'Panton';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
}

.vsa_price_text p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #4E4E4E;
}

.vsa_price_val {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.vsa_price_val h3 {    
    font-family: 'Panton';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000;
    position: relative;
}

.vsa_price_val h3 sup {
    position: absolute;
    top: -7px;
    right: -12px;
}

.vsa_price_val p {
    font-family: "RobotoMedium";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #B0B0B0;
}

/*-- /Section 6 - Main --*/

/*-- Section 7 - Main --*/

.vsa_contacts_box {
    margin: 24px 0 54px 0;
    padding: 100px 125px 100px 125px;
    position: relative;
    overflow: hidden;
}

.vsa_contacts_box_bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.vsa_contacts_box_bg_resp {
    display: none;
}

.vsa_contacts_form_box {
    max-width: 480px;
    background: #FFF;
    padding: 37px 40px 43px 40px;
    position: relative;
    z-index: 2;
}

.vsa_contacts_form_title {
    padding-bottom: 28px;
}

.vsa_contacts_form_title h3 {
    padding: 5px 0;
    font-family: 'Panton';
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    color: #000;
}

.vsa_contacts_form_title p {
    padding: 5px 0;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #4E4E4E;
}

.vsa_input_wrapp input {
    display: block;
    width: 100%;
    height: 68px;
    padding: 0 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #4E4E4E;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 67px;
    letter-spacing: -0.04em;
    color: #B0B0B0;
}

.vsa_input_wrapp input::placeholder {
    color: #B0B0B0;
}

.vsa_contacts_form_text {
    padding: 30px 0 32px 0;
}

.vsa_contacts_form_text p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: #B0B0B0;
}

.vsa_contacts_form_text p a {
    color: #000;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.vsa_contacts_form_text p a:hover {
    color: #B0B0B0;
}

.vsa_submit_wrapp .vsa_black_pill {
    width: 100%;
}

.vsa_news_box {
    border-top: 2px solid #000;
}

.vsa_newx_thumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -15px 50px -15px;
}

.vsa_newx_thumbs > div {
    width: 33.33%;
    padding: 15px;
}

.vsa_news_img_box {
    display: block;
    width: 100%;
    height: 570px;
    position: relative;
    overflow: hidden;
}

.vsa_news_img_box img {
    display: block;
    width: 100%;
    height: 570px;
    object-fit: cover;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: 3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: 3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease;
}

.vsa_news_img_box:hover img {
    transform: scale(1.2);
}

.vsa_news_thumb_content {
    padding: 18px 0 28px 0;
}

.vsa_news_thumb_content h3 {
    padding-bottom: 10px;
    font-family: 'Panton';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.vsa_news_thumb_content p {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4E4E4E;
}

/*-- /Section 7 - Main --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

.footer_section {
    padding: 27px 0 0 0;
}

.vsa_footer_top_row {
    display: flex;
    padding: 17px 0 17px 0;
}

.vsa_footer_top_row > div:nth-child(1) {
    width: 150px;
    padding: 4px 0 0 0;
}

.vsa_footer_top_row > div:nth-child(2) {
    width: calc(100% - 150px);
    padding: 0 10px 0 10px;
}

.vsa_footer_logo {
    display: inline-block;
    vertical-align: top;
    width: 60px;
}

.vsa_footer_logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.vsa_footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 -22px;
}

.vsa_footer_nav li {
    padding: 0 22px;
}

.vsa_footer_nav li a {
    font-family: 'Panton';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.vsa_footer_nav li a:hover {
    border-bottom: 1px solid #000;
}

.vsa_footer_img {
    margin: 5px 0;
}

.vsa_footer_img img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.vsa_footer_two_cols {
    display: flex;
    flex-wrap: wrap;
}

.vsa_footer_two_cols > div:nth-child(1) {
    width: calc(100% - 515px);
    padding: 10px 10px 10px 0;
}

.vsa_footer_two_cols > div:nth-child(2) {
    width: 515px;
    padding: 10px 0 10px 10px;
}

.vsa_text_box p {
    padding: 10px 0;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
}

.vsa_text_box p a {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.vsa_text_box p a:hover {
    border-bottom: 1px solid #000;
}

.vsa_subscribe_desc p {
    padding: 10px 0;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #000;
}

.vsa_subscribe_form {
    display: flex;
    height: 50px;
    margin-top: 15px;
    border: 1px solid #000;
}

.vsa_subscribe_form > div:nth-child(1) {
    width: calc(100% - 185px);
}

.vsa_subscribe_form > div:nth-child(2) {
    width: 185px;
}

.vsa_subscribe_form input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 20px;
    border: none;
    background: transparent;
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 16px;
    line-height: 47px;
    letter-spacing: -0.04em;
    color: #B0B0B0;
}

.vsa_subscribe_form .vsa_black_pill {
    width: 100%;
    min-height: 49px;
    position: relative;
    right: -1px;
}

.vsa_corp {
    padding: 35px 0 37px 0;
}

.vsa_corp p {
    font-family: "RobotoMedium";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000;
}

.vsa_footer_img_resp {
    display: none;
}

.vsa_footer_contacts_resp {
    display: none;
}
